body,
html {
    margin: 0;
    background-color: #f8f7f2;
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
    color: #373736;
}

h2 {
    color: #336666;
    font-size: 200%;
}

h4 {
    color: #336666;
    font-size: 140%;
}

h3 {
    color: #336666;

}

.grid-container {
    display: grid;
    width: 100%;
    grid-template-areas: 'header' 'tekst1' 'box1' 'tekst2' 'box2' 'tekst3' 'billeder4' 'tekst4' 'box3' 'footer';

}

.video-container {
    position: relative;

}



.video-container video {
    position: relative;
    z-index: 0;
    width: 100%;
}

.video-tekst {
    position: absolute;
    top: 7%;
    left: 5%;
    z-index: 1;
    line-height: 0.1;
}

.trans {
    background-color: transparent;
    color: #336666;


}

#camilla {
    font-family: 'Cormorant Garamond', serif;
    font-size: 160%;
}

#musik {
    font-size: 85%;
}

.button {
    position: absolute;
    top: 60%;
    left: 20%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #336666;
    color: #f5f4eb;
    font-size: 16px;
    padding: 7px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;

}



.tekst {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.8;
    color: #373736;
}

p {
    font-size: 110%;
    color: #373736;
}

.box {
    background-color: #c2ccc3;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}








.img {
    width: 80%;
    margin-top: 10%;

}




.citat {
    width: 90%;
    z-index: 1;
    margin-top: 5%;
    position: relative;
}

q {
    position: absolute;
    z-index: 2;
    width: 75%;
    font-size: 130%;
    color: #192c2b;
    margin-top: 80%;
    margin-left: auto;
    margin-right: auto;
}



.billeder4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.kvadrat-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;

}

 #kvadratet, #kvadratto, #kvadrattre, #kvadratfire {
    width: 85%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}


.kvadrat-tekst {
    font-size: 110%;
    position: relative;
    top: 30%;
    left: 0%;
    line-height: 1.5;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: #373736;
}


footer {
    text-align: center;
    margin-bottom: 15%;
}

footer > div {
    margin-top: 10%;
    line-height: 0.7;
}


@media only screen and (max-width:991px) {
    #video2 {
        display: none;
    }
}

/*-------------LAPTOP------------*/

@media only screen and (min-width:992px) {


    .video-tekst {
        top: 35%;
        left: 7%;
        line-height: 0.1;
    }

    #video1 {
        display: none;
    }

    #camilla {
        font-size: 450%;
    }

    #musik {
        font-size: 200%;
    }

    .button {
        top: 60%;
        left: 14.5%;
        font-size: 30px;
        padding: 7px 45px;
        border: none;
        cursor: pointer;
        border-radius: 5px;

    }

    .button:hover {
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    }
    .tekst {
        width: 60%;
        line-height: 1.8;
        margin-bottom: 150px;
        margin-top: 150px;
    }



    .box {
        background-color: #c2ccc3;
        height: 350px;
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        justify-content: space-around;
    }

    .tekst4 {
        margin-top: 3%;
    }

    /*---------*/
    q {
        position: absolute;
        left: 52%;
        z-index: 2;
        width: 30%;
        font-size: 160%;
        color: #192c2b;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        text-align: center;
    }


    .img {
        width: 25%;
        margin-top: 0;
        margin-left: 11%;

    }

    .citat {
        width: 30%;
        margin-right: 13%;
        z-index: 1;
        position: relative;
        margin-top: 0;
    }





    .reverse {
        flex-direction: row-reverse;
    }

    .flip {
        margin-left: 13%;
        margin-right: 0;
        z-index: 2;
        width: 30%;
        font-size: 140%;
        color: #192c2b;
    }

    .img-flip {
        margin-top: 0;
        margin-right: 11%;
        margin-left: 0;
    }
    .q-flip {
        left: 19%;
    }
    .billeder4 > img {
        width: 25%;
        height: 45%;
        margin-top: 0px;

    }



    .billeder4 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }




    .overlay {
        position: relative;
        padding-top: 50%;
        height: 50%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: #f8f7f2;
        border-bottom: 2px solid #336666;
    }

    .kvadrat-container:hover .overlay {
        opacity: 1;
    }



    .kvadrat-container > p {
        line-height: 120%;
        padding-bottom: 20%;
    }


    .kvadrat-container {
        position: relative;
        width: 20%;
        flex-direction: column;
        display: flex;
        justify-content: center;

    }


    #kvadratet, #kvadratto, #kvadrattre, #kvadratfire {
        display: block;
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }

    .kvadrat-tekst {
        color: #373736;
        font-size: 110%;
        position: absolute;
        top: 40%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        text-align: left;
        line-height: 1.5;
        margin-left: 0;
        margin-right: 0;
    }


    .btn1 {
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color: #555;
        color: white;
        font-size: 16px;
        padding: 12px 24px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        text-align: center;
    }

    .btn1:hover {
        background-color: black;
    }

    #unmute {
        width: 5%;
        position: absolute;
        top: 7%;
        left: 89%;
        transition: transform .2s;

    }

    #unmute:hover {
        -moz-transform: scale(1.3);
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }

    footer {
        display: flex;
        font-size: 80%;
        justify-content: space-around;
        margin-top: 5%;
        margin-bottom: 2%;
        margin-right: 5%;
        margin-left: 5%;
        text-align: left;

    }

    .link {
        color: #336666;
    }

    footer > div {
        margin-top: 5%;
    }
